

.deleteIcon{
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.itemStyle{
  flex: 3;
}
.removeCellStyle{
  flex: 1
}

.floatRight{
  float: right;
  padding-right: 48px;
  padding-top: 24px;
}

.todoRow{
  padding: 16px;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.headerRow{
  padding: 16px;
  font-weight: 600;  
  display: flex;  
  color: royalblue;
}

.header{
  padding: 24px;
  text-align: center;
  font-weight: 600;
}

.inputStyle{
  font-size: 18px;
  width: 90%;
  height: 24px;
}


.buttonStyle{
  font-size: 18px;
  padding: 8px;
}

.noborderButton{
  border: none;
}