

.deleteIcon{
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.itemStyle{
  flex: 3;
}
.removeCellStyle{
  flex: 1
}

.floatRight{
  float: right;
  padding-right: 48px;
}

.todoRow{
  padding: 16px;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.header{
  padding: 24px;
  text-align: center;
  font-weight: 600;
}